networks:
  default:
    name: memecore_network
    ipam:
      config:
        - subnet: 172.200.0.0/24
          gateway: 172.200.0.254

services:
  bootnode:
    image: gmeme_node
    container_name: bootnode
    env_file:
      - .env
    build:
      context: ../
      dockerfile: ./Dockerfile.alltools
    command: "bootnode -nodekey ${FOUR_DIR}/bootnode/bootnode.key -addr :30304 -verbosity 5"
    volumes:
      - ../privnet:/privnet
    ports:
      - 30304:30304
    networks:
      default:
        ipv4_address: 172.200.0.1
  miner1:
    image: gmeme_node
    container_name: miner1
    env_file:
      - .env
    command:
      - sh
      - -c
      - |
        gmeme init --datadir ${FOUR_NODE1_DIR} ${FOUR_DIR}/genesis_privnet.json
        gmeme --datadir ${FOUR_NODE1_DIR} \
        --port 30306 \
        --bootnodes "enode://$$(cat ${FOUR_DIR}/bootnode/bootnode_address.txt)@172.200.0.1:0?discport=30304" \
        --networkid "$$(cat ${FOUR_DIR}/networkid.txt)" \
        --unlock 0x"$$(cat ${FOUR_NODE1_DIR}/node_address.txt)" \
        --authrpc.port 8552 \
        --http \
        --http.port 8562 \
        --http.addr 0.0.0.0 \
        --http.vhosts "*" \
        --ws \
        --ws.addr 0.0.0.0 \
        --ws.port 8572 \
        --allow-insecure-unlock \
        --password ${FOUR_NODE1_DIR}/password.txt \
        --metrics \
        --nat none \
        --netrestrict 172.200.0.0/24 \
        --mine \
        --miner.etherbase="0x$$(cat ${FOUR_NODE1_DIR}/node_address.txt)"
    volumes:
      - ../privnet:/privnet
    ports:
      - 30306:30306
      - 8552:8552
      - 8562:8562
      - 8572:8572
    depends_on:
      - bootnode
  miner2:
    image: gmeme_node
    container_name: miner2
    env_file:
      - .env
    command:
      - sh
      - -c
      - |
        gmeme init --datadir ${FOUR_NODE2_DIR} ${FOUR_DIR}/genesis_privnet.json
        gmeme --datadir ${FOUR_NODE2_DIR} \
        --port 30307 \
        --bootnodes "enode://$$(cat ${FOUR_DIR}/bootnode/bootnode_address.txt)@172.200.0.1:0?discport=30304" \
        --networkid "$$(cat ${FOUR_DIR}/networkid.txt)" \
        --unlock 0x"$$(cat ${FOUR_NODE2_DIR}/node_address.txt)" \
        --authrpc.port 8553 \
        --http \
        --http.port 8563 \
        --http.addr 0.0.0.0 \
        --http.vhosts "*" \
        --ws \
        --ws.addr 0.0.0.0 \
        --ws.port 8573 \
        --allow-insecure-unlock \
        --password ${FOUR_NODE2_DIR}/password.txt \
        --metrics \
        --nat none \
        --netrestrict 172.200.0.0/24 \
        --mine \
        --miner.etherbase="0x$$(cat ${FOUR_NODE2_DIR}/node_address.txt)"
    volumes:
      - ../privnet:/privnet
    ports:
      - 30307:30307
      - 8553:8553
      - 8563:8563
      - 8573:8573
    depends_on:
      - bootnode
  miner3:
    image: gmeme_node
    container_name: miner3
    env_file:
      - .env
    command:
      - sh
      - -c
      - |
        gmeme init --datadir ${FOUR_NODE3_DIR} ${FOUR_DIR}/genesis_privnet.json
        gmeme --datadir ${FOUR_NODE3_DIR} \
        --port 30308 \
        --bootnodes "enode://$$(cat ${FOUR_DIR}/bootnode/bootnode_address.txt)@172.200.0.1:0?discport=30304" \
        --networkid "$$(cat ${FOUR_DIR}/networkid.txt)" \
        --unlock 0x"$$(cat ${FOUR_NODE3_DIR}/node_address.txt)" \
        --authrpc.port 8554 \
        --http \
        --http.port 8564 \
        --http.addr 0.0.0.0 \
        --http.vhosts "*" \
        --ws \
        --ws.addr 0.0.0.0 \
        --ws.port 8574 \
        --allow-insecure-unlock \
        --password ${FOUR_NODE3_DIR}/password.txt \
        --metrics \
        --nat none \
        --netrestrict 172.200.0.0/24 \
        --mine \
        --miner.etherbase="0x$$(cat ${FOUR_NODE3_DIR}/node_address.txt)"
    volumes:
      - ../privnet:/privnet
    ports:
      - 30308:30308
      - 8554:8554
      - 8564:8564
      - 8574:8574
    depends_on:
      - bootnode
  miner4:
    image: gmeme_node
    container_name: miner4
    env_file:
      - .env
    command:
      - sh
      - -c
      - |
        gmeme init --datadir ${FOUR_NODE4_DIR} ${FOUR_DIR}/genesis_privnet.json
        gmeme --datadir ${FOUR_NODE4_DIR} \
        --port 30309 \
        --bootnodes "enode://$$(cat ${FOUR_DIR}/bootnode/bootnode_address.txt)@172.200.0.1:0?discport=30304" \
        --networkid "$$(cat ${FOUR_DIR}/networkid.txt)" \
        --unlock 0x"$$(cat ${FOUR_NODE4_DIR}/node_address.txt)" \
        --authrpc.port 8555 \
        --http \
        --http.port 8565 \
        --http.addr 0.0.0.0 \
        --http.vhosts "*" \
        --ws \
        --ws.addr 0.0.0.0 \
        --ws.port 8575 \
        --allow-insecure-unlock \
        --password ${FOUR_NODE4_DIR}/password.txt \
        --metrics \
        --nat none \
        --netrestrict 172.200.0.0/24 \
        --mine \
        --miner.etherbase="0x$$(cat ${FOUR_NODE4_DIR}/node_address.txt)"
    volumes:
      - ../privnet:/privnet
    ports:
      - 30309:30309
      - 8555:8555
      - 8565:8565
      - 8575:8575
    depends_on:
      - bootnode
  node0:
    image: gmeme_node
    container_name: node0
    env_file:
      - .env
    command:
      - sh
      - -c
      - |
        gmeme init --datadir ${FOUR_NODE5_DIR} ${FOUR_DIR}/genesis_privnet.json
        gmeme --datadir ${FOUR_NODE5_DIR} \
        --port 30310 \
        --bootnodes "enode://$$(cat ${FOUR_DIR}/bootnode/bootnode_address.txt)@172.200.0.1:0?discport=30304" \
        --networkid "$$(cat ${FOUR_DIR}/networkid.txt)" \
        --unlock 0x"$$(cat ${FOUR_NODE5_DIR}/node_address.txt)" \
        --authrpc.port 8556 \
        --http \
        --http.port 8566 \
        --http.addr 0.0.0.0 \
        --http.vhosts "*" \
        --ws \
        --ws.addr 0.0.0.0 \
        --ws.port 8576 \
        --allow-insecure-unlock \
        --password ${FOUR_NODE5_DIR}/password.txt \
        --metrics \
        --nat none \
        --netrestrict 172.200.0.0/24
    volumes:
      - ../privnet:/privnet
    ports:
      - 30310:30310
      - 8556:8556
      - 8566:8566
      - 8576:8576
    depends_on:
      - bootnode
